<% content_for :extrahead do %>
    <link rel="stylesheet" href="/styles/karma.css" type="text/css">
    <script type="text/javascript" src="/javascripts/jquery/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/utils/underscore.js"></script>
    <script type="text/javascript" src="/javascripts/neon/neon.js"></script>
    <script type="text/javascript" src="/javascripts/chameleon/chameleon.js"></script>
    <script type="text/javascript" src="/javascripts/karma/karma.js"></script>
<% end %>

<div id="editor">
    <ul>
        <li class="zone base" id="zone-0">
            #006633
        </li>
        <li class="zone" id="zone-1">
            <div class="rule">complementary</div>
        </li>
        <li class="zone" id="zone-2">
            <div class="rule">rotateBy</div>
            <div class="parameters">
                <ul>
                    <li class="parameter">20</li>
                </ul>
            </div>
        </li>
    </ul>
</div>